In [1]:
import pandas as pd
data = pd.read_csv('./plant1_train_linear.csv', parse_dates=["plant1_train.mea_ddhr"])
data.head()

,Unnamed: 0,Unnamed: 0.1,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3
0,0,1,2016-04-01 00:00:00,16.0,24.0,11.0,14.0,23.0,11.0,13.0,32.0,10.0,9.0,42.0,0,0,0
1,1,2,2016-04-01 03:00:00,14.0,28.0,10.0,12.0,32.0,9.0,11.0,42.0,7.0,7.0,59.0,0,0,0
2,2,3,2016-04-01 06:00:00,13.0,33.0,10.0,11.0,37.0,9.0,10.0,44.0,7.0,6.0,56.0,0,0,0
3,3,4,2016-04-01 09:00:00,13.0,33.0,10.0,11.0,35.0,9.0,10.0,41.0,8.0,18.0,30.0,0,0,0
4,4,5,2016-04-01 12:00:00,16.0,28.0,10.0,15.0,27.0,11.0,14.0,30.0,9.0,18.0,20.0,0,0,0

In [2]:
data.shape

(58749, 17)

In [3]:
del data["Unnamed: 0"]
del data["Unnamed: 0.1"]

data.head()

,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3
0,2016-04-01 00:00:00,16.0,24.0,11.0,14.0,23.0,11.0,13.0,32.0,10.0,9.0,42.0,0,0,0
1,2016-04-01 03:00:00,14.0,28.0,10.0,12.0,32.0,9.0,11.0,42.0,7.0,7.0,59.0,0,0,0
2,2016-04-01 06:00:00,13.0,33.0,10.0,11.0,37.0,9.0,10.0,44.0,7.0,6.0,56.0,0,0,0
3,2016-04-01 09:00:00,13.0,33.0,10.0,11.0,35.0,9.0,10.0,41.0,8.0,18.0,30.0,0,0,0
4,2016-04-01 12:00:00,16.0,28.0,10.0,15.0,27.0,11.0,14.0,30.0,9.0,18.0,20.0,0,0,0

In [4]:
data.rename(columns={
    "plant1_train.mea_ddhr" : "date",
    "plant1_train.tem_in_loc1" : "tem_loc1",
    "plant1_train.hum_in_loc1" : "hum_loc1",
    "plant1_train.tem_coil_loc1" : "coil_loc1",
    "plant1_train.tem_in_loc2" : "tem_loc2",
    "plant1_train.hum_in_loc2" : "hum_loc2",
    "plant1_train.tem_coil_loc2" : "coil_loc2",
    "plant1_train.tem_in_loc3" : "tem_loc3",
    "plant1_train.hum_in_loc3" : "hum_loc3",
    "plant1_train.tem_coil_loc3" : "coil_loc3",
    "plant1_train.tem_out_loc1" : "tem_out",
    "plant1_train.hum_out_loc1" : "hum_out",
    "plant1_train.cond_loc1" : "cond_loc1",
    "plant1_train.cond_loc2" : "cond_loc2",
    "plant1_train.cond_loc3" : "cond_loc3"
}, inplace = True)
data.head()

,date,tem_loc1,hum_loc1,coil_loc1,tem_loc2,hum_loc2,coil_loc2,tem_loc3,hum_loc3,coil_loc3,tem_out,hum_out,cond_loc1,cond_loc2,cond_loc3
0,2016-04-01 00:00:00,16.0,24.0,11.0,14.0,23.0,11.0,13.0,32.0,10.0,9.0,42.0,0,0,0
1,2016-04-01 03:00:00,14.0,28.0,10.0,12.0,32.0,9.0,11.0,42.0,7.0,7.0,59.0,0,0,0
2,2016-04-01 06:00:00,13.0,33.0,10.0,11.0,37.0,9.0,10.0,44.0,7.0,6.0,56.0,0,0,0
3,2016-04-01 09:00:00,13.0,33.0,10.0,11.0,35.0,9.0,10.0,41.0,8.0,18.0,30.0,0,0,0
4,2016-04-01 12:00:00,16.0,28.0,10.0,15.0,27.0,11.0,14.0,30.0,9.0,18.0,20.0,0,0,0

In [5]:
data.shape

(58749, 15)

In [6]:
data["X24H_TMA"] = data["date"] + pd.DateOffset(days=1)
data.head()

,date,tem_loc1,hum_loc1,coil_loc1,tem_loc2,hum_loc2,coil_loc2,tem_loc3,hum_loc3,coil_loc3,tem_out,hum_out,cond_loc1,cond_loc2,cond_loc3,X24H_TMA
0,2016-04-01 00:00:00,16.0,24.0,11.0,14.0,23.0,11.0,13.0,32.0,10.0,9.0,42.0,0,0,0,2016-04-02 00:00:00
1,2016-04-01 03:00:00,14.0,28.0,10.0,12.0,32.0,9.0,11.0,42.0,7.0,7.0,59.0,0,0,0,2016-04-02 03:00:00
2,2016-04-01 06:00:00,13.0,33.0,10.0,11.0,37.0,9.0,10.0,44.0,7.0,6.0,56.0,0,0,0,2016-04-02 06:00:00
3,2016-04-01 09:00:00,13.0,33.0,10.0,11.0,35.0,9.0,10.0,41.0,8.0,18.0,30.0,0,0,0,2016-04-02 09:00:00
4,2016-04-01 12:00:00,16.0,28.0,10.0,15.0,27.0,11.0,14.0,30.0,9.0,18.0,20.0,0,0,0,2016-04-02 12:00:00

In [7]:
data["date"] = data["date"].apply(lambda t: t.strftime('%Y-%m-%d %H:%M'))
data["X24H_TMA"] = data["X24H_TMA"].apply(lambda t: t.strftime('%Y-%m-%d %H:%M'))
data.head()

,date,tem_loc1,hum_loc1,coil_loc1,tem_loc2,hum_loc2,coil_loc2,tem_loc3,hum_loc3,coil_loc3,tem_out,hum_out,cond_loc1,cond_loc2,cond_loc3,X24H_TMA
0,2016-04-01 00:00,16.0,24.0,11.0,14.0,23.0,11.0,13.0,32.0,10.0,9.0,42.0,0,0,0,2016-04-02 00:00
1,2016-04-01 03:00,14.0,28.0,10.0,12.0,32.0,9.0,11.0,42.0,7.0,7.0,59.0,0,0,0,2016-04-02 03:00
2,2016-04-01 06:00,13.0,33.0,10.0,11.0,37.0,9.0,10.0,44.0,7.0,6.0,56.0,0,0,0,2016-04-02 06:00
3,2016-04-01 09:00,13.0,33.0,10.0,11.0,35.0,9.0,10.0,41.0,8.0,18.0,30.0,0,0,0,2016-04-02 09:00
4,2016-04-01 12:00,16.0,28.0,10.0,15.0,27.0,11.0,14.0,30.0,9.0,18.0,20.0,0,0,0,2016-04-02 12:00

In [8]:
data["X48H_TMA"] = pd.to_datetime(data["date"]) + pd.DateOffset(days=2)

In [9]:
data["X48H_TMA"] = data["X48H_TMA"].apply(lambda t: t.strftime('%Y-%m-%d %H:%M'))

In [10]:
label_data1 = data[['date','cond_loc1','cond_loc2','cond_loc3']]
label_data1.rename(columns = {
    "date":"X24H_TMA",
    "cond_loc1":"X24H_cond_loc1",
    "cond_loc2":"X24H_cond_loc2",
    "cond_loc3":"X24H_cond_loc3"
}, inplace = True)

C:\Users\yslim\miniconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [12]:
label_data2 = data[['date','cond_loc1','cond_loc2','cond_loc3']]
label_data2.rename(columns = {
    "date":"X48H_TMA",
    "cond_loc1":"X48H_cond_loc1",
    "cond_loc2":"X48H_cond_loc2",
    "cond_loc3":"X48H_cond_loc3"
}, inplace = True)

C:\Users\yslim\miniconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
merge_data = pd.merge(data, label_data1, how='left', on='X24H_TMA')
result_data = pd.merge(merge_data, label_data2, how='left', on='X48H_TMA')
result_data.head()

,date,tem_loc1,hum_loc1,coil_loc1,tem_loc2,hum_loc2,coil_loc2,tem_loc3,hum_loc3,coil_loc3,...,cond_loc2,cond_loc3,X24H_TMA,X48H_TMA,X24H_cond_loc1,X24H_cond_loc2,X24H_cond_loc3,X48H_cond_loc1,X48H_cond_loc2,X48H_cond_loc3
0,2016-04-01 00:00,16.0,24.0,11.0,14.0,23.0,11.0,13.0,32.0,10.0,...,0,0,2016-04-02 00:00,2016-04-03 00:00,0.0,0.0,0.0,0.0,0.0,0.0
1,2016-04-01 03:00,14.0,28.0,10.0,12.0,32.0,9.0,11.0,42.0,7.0,...,0,0,2016-04-02 03:00,2016-04-03 03:00,0.0,0.0,0.0,0.0,0.0,0.0
2,2016-04-01 06:00,13.0,33.0,10.0,11.0,37.0,9.0,10.0,44.0,7.0,...,0,0,2016-04-02 06:00,2016-04-03 06:00,0.0,0.0,0.0,0.0,0.0,0.0
3,2016-04-01 09:00,13.0,33.0,10.0,11.0,35.0,9.0,10.0,41.0,8.0,...,0,0,2016-04-02 09:00,2016-04-03 09:00,0.0,0.0,0.0,0.0,0.0,0.0
4,2016-04-01 12:00,16.0,28.0,10.0,15.0,27.0,11.0,14.0,30.0,9.0,...,0,0,2016-04-02 12:00,2016-04-03 12:00,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
result_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58749 entries, 0 to 58748
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            58749 non-null  object
 1   tem_loc1        58749 non-null  float64
 2   hum_loc1        58749 non-null  float64
 3   coil_loc1       58749 non-null  float64
 4   tem_loc2        58749 non-null  float64
 5   hum_loc2        58749 non-null  float64
 6   coil_loc2       58749 non-null  float64
 7   tem_loc3        58749 non-null  float64
 8   hum_loc3        58749 non-null  float64
 9   coil_loc3       58749 non-null  float64
 10  tem_out         58749 non-null  float64
 11  hum_out         58749 non-null  float64
 12  cond_loc1       58749 non-null  int64
 13  cond_loc2       58749 non-null  int64
 14  cond_loc3       58749 non-null  int64
 15  X24H_TMA        58749 non-null  object
 16  X48H_TMA        58749 non-null  object
 17  X24H_cond_loc1  58333 non-null  float64
 18  X24H_cond_loc2  58333 non-null  float64
 19  X24H_cond_loc3  58333 non-null  float64
 20  X48H_cond_loc1  58136 non-null  float64
 21  X48H_cond_loc2  58136 non-null  float64
 22  X48H_cond_loc3  58136 non-null  float64
dtypes: float64(17), int64(3), object(3)
memory usage: 10.8+ MB

In [15]:
cols = list(result_data.columns)
cols

['date',
 'tem_loc1',
 'hum_loc1',
 'coil_loc1',
 'tem_loc2',
 'hum_loc2',
 'coil_loc2',
 'tem_loc3',
 'hum_loc3',
 'coil_loc3',
 'tem_out',
 'hum_out',
 'cond_loc1',
 'cond_loc2',
 'cond_loc3',
 'X24H_TMA',
 'X48H_TMA',
 'X24H_cond_loc1',
 'X24H_cond_loc2',
 'X24H_cond_loc3',
 'X48H_cond_loc1',
 'X48H_cond_loc2',
 'X48H_cond_loc3']

In [16]:
result_data = result_data[[
    'date',
 'tem_loc1',
 'hum_loc1',
 'coil_loc1',
 'tem_loc2',
 'hum_loc2',
 'coil_loc2',
 'tem_loc3',
 'hum_loc3',
 'coil_loc3',
 'tem_out',
 'hum_out',
 'cond_loc1',
 'cond_loc2',
 'cond_loc3',
 'X24H_TMA',
 'X24H_cond_loc1',
 'X24H_cond_loc2',
 'X24H_cond_loc3',
 'X48H_TMA',
 'X48H_cond_loc1',
 'X48H_cond_loc2',
 'X48H_cond_loc3'
]]

In [17]:
result_data.head()

,date,tem_loc1,hum_loc1,coil_loc1,tem_loc2,hum_loc2,coil_loc2,tem_loc3,hum_loc3,coil_loc3,...,cond_loc2,cond_loc3,X24H_TMA,X24H_cond_loc1,X24H_cond_loc2,X24H_cond_loc3,X48H_TMA,X48H_cond_loc1,X48H_cond_loc2,X48H_cond_loc3
0,2016-04-01 00:00,16.0,24.0,11.0,14.0,23.0,11.0,13.0,32.0,10.0,...,0,0,2016-04-02 00:00,0.0,0.0,0.0,2016-04-03 00:00,0.0,0.0,0.0
1,2016-04-01 03:00,14.0,28.0,10.0,12.0,32.0,9.0,11.0,42.0,7.0,...,0,0,2016-04-02 03:00,0.0,0.0,0.0,2016-04-03 03:00,0.0,0.0,0.0
2,2016-04-01 06:00,13.0,33.0,10.0,11.0,37.0,9.0,10.0,44.0,7.0,...,0,0,2016-04-02 06:00,0.0,0.0,0.0,2016-04-03 06:00,0.0,0.0,0.0
3,2016-04-01 09:00,13.0,33.0,10.0,11.0,35.0,9.0,10.0,41.0,8.0,...,0,0,2016-04-02 09:00,0.0,0.0,0.0,2016-04-03 09:00,0.0,0.0,0.0
4,2016-04-01 12:00,16.0,28.0,10.0,15.0,27.0,11.0,14.0,30.0,9.0,...,0,0,2016-04-02 12:00,0.0,0.0,0.0,2016-04-03 12:00,0.0,0.0,0.0

In [18]:
result_data.shape

(58749, 23)

In [19]:
result_data.to_csv("plant1_linear_test.csv", mode='w')